################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TnnJsDecoder/FileContentIndex
/.vs
/TnnJsDecoder/obj
/TnnJsDecoder/bin/Microsoft.NodejsTools.WebRole.dll
/TnnJsDecoder/bin
